		*{margin:0px;padding:0px;}


		div#wrapper{
			background:url(bg.gif) -1px 0px repeat-y;
			margin:0 auto;
			width:880px;
			height:100%;
		}

		div#header{
			width:862px;
			height:120px;
			margin:0 auto;
		}

		div#header div#searchBox{
			width:862px;
			height:90px;
			background:url(cwBg.jpg) 30px 0px  no-repeat;
		}

		div#header div#searchBox div#userInfo{
			float:right;
			width:240px;
			height:50px;
			line-height:50px;
			background:white url(iEmptyBasket.gif) 192px center no-repeat;
			font-family: verdana, arial, sans-serif;
			font-size:0.9em;
			color:#104E8B;
			margin-right:50px;
		}

		div#header div#searchBox div#userInfo a{
			margin-left:5px;
			font-weight:bold;
			color:#104E8B;
			text-decoration:underline;
			cursor:pointer;
		}

		div#header div#searchBox div#userInfo a:hover{
			text-decoration:none;
		}

		div#header div#searchBox form{
			clear:both;
			float:right;
			background:#FFF;
			width:240px;
			height:37px;
			line-height:36px;
			margin-right:50px;
		}

		div#header div#searchBox form label{
			font-weight:bold;
			font-family:arial;
			font-size:13px;
			margin-left:5px;
			color:#104E8B;
		}

		div#header div#searchBox input.textField{
			border:1px inset #FFF;
			width:129px;
			line-height:20px;
			height:20px;
			color:#104E8B;
		}

		div#header div#searchBox input.submit{
			background:url(forward.png) center center no-repeat;
			width:50px;
			height:24px;
			border:0 none;
			cursor:pointer;
		}
		
		fieldset#cakeWizard form#searchForm {
			text-align: center;
		}

		div#header div#menu{
			width:862px;
			height:30px;
			line-height:30px;
			margin-bottom:-50px;
		}

		div#menu a.menuItem{
			display:block;
			text-decoration:none;
			float:left;
			font-size:16px;
			width:140px;
			height:30px;
			line-height:30px;
			text-align:center;
			font-weight:bold;
			margin-right:2px;
			margin-left:1px;
			cursor:pointer;
			color:#104E8B;
			background:url(bc.jpg) center center no-repeat;
		}

		div#menu a.menuItem.selected{
			background:url(cbs.jpg) center center no-repeat;
		}

		div#menu a.menuItem.selected:hover{
			background:url(cbs.jpg) center center no-repeat;
		}

		div#menu a.menuItem:hover{
			background:url(bch.jpg) center center no-repeat;
		}

		div#menu a.menuItem.left{
			margin-left:4px;
		}

		div#content{
			width:800px;
			margin:0 auto;
			margin-top:20px;
			margin-bottom:20px;
			font-family: verdana, arial, sans-serif;
			font-size:1em;
			color:#104E8B;
			overflow:hidden;
		}


		div#content div#container{
			width:1600px;
		}

		div#content div#container div.pageItem{
			float:left;
			width:800px;
		}

		div#content div#container div.pageItem div.error{
			text-align:center;
			margin-top:20px;
			font-size:24px;
		}

		div#content div.cakeItem{
			height:200px;
			margin-top:20px;
		}

		div#content div.cakeItem div.photo{
			float:left;
			height:170px;
			width:170px;
			padding:15px;
			text-align:center;
		}

		div#content div.cakeItem div.photo img{
			/*
			width:170px;
			height:170px;
			*/
			margin:0 auto;
		}

		div#content div.cakeItem div.cakeContent{
			float:left;
			height:160px;
			width:400px;
			padding:20px;
		}

		div#content div.cakeItem div.cakeContent h4{
			text-decoration:underline;
			margin-bottom:10px;
		}

		div#content div.cakeItem div.cakeContent h4.cakeName{
			margin-bottom:10px;
			font-size:18px;
			text-decoration:none;
		}

		div#content div.cakeItem div.price{
			float:left;
			height:160px;
			width:120px;
			padding:5px;
			text-align:left;
			cursor:pointer;
		}

		fieldset#cakeWizard{
			margin:0 auto;
			width:600px;
			padding-left:100px;
			padding-right:100px;
			border:0 none;
			margin-top:20px;
			margin-bottom:20px;
			font-family: verdana, arial, sans-serif;
			font-size:1em;
			color:#104E8B;
		}

		fieldset#cakeWizard div.field textarea,
		fieldset#cakeWizard div.field input{
			font-family: verdana, arial, sans-serif;
			font-size:0.9em;
			color:#104E8B;
		}

		fieldset#cakeWizard legend{
			padding:0px 10px 0px 10px;
			font-size:20px;
			margin-left:-50px;
		}

		fieldset#cakeWizard div.field{
			padding:10px;
		}

		fieldset#cakeWizard div.field div.checkLabel{
			line-height:30px;
			padding-left:30px;
			height:30px;
		}

		fieldset#cakeWizard div.field div.checkLabel input{
			float:left;
			width:14px;
			height:14px;
			margin-top:10px;
			margin-right:10px;
		}

		fieldset#cakeWizard div.field textarea{
			width:575px;
			height:200px;
			display:block;
		}

		fieldset#cakeWizard div.field label{
			margin:10px 0px 10px 0px;
			display:block;
			font-weight:bold;
		}

		fieldset#cakeWizard input.submit {
			margin:15px auto;
			width:100px;
			height:30px;
			display:inline-block;
		}

		div#footer{
			width:800px;
			height:50px;
			margin:0 auto;
			line-height:50px;
			font-family: Arial;
			font-size: 11px;
		}

		div#footer div#copyright{
			color:gray;
			text-align:center;
			width:200px;
			float:left;
		}

		div#footerMenu{
			width:400px;
			text-align:center;
			float:left;
		}

		div#footerMenu a{
			border-right:2px solid #104E8B;
			text-decoration:none;
			padding-right:5px;
			margin-left:5px;
			color:#104E8B;
		}

		div#footerMenu a:hover{
			text-decoration:underline;
		}

		div#footerMenu a.last{border:0 none;}


	#pagerContainer{
		height:30px;
		width:280px;
		margin:0 auto;
		margin-bottom:60px;
		text-align:center;
	}

	#pager{
		height:30px;
		margin:0 auto;
	}

	#pager div{
		float:left;
		width:20px;
		height:20px;
		color:#104E8B;
		margin:5px;
		text-align:center;
		cursor:pointer;
	}

	#pager div.first{
		background:url(firsP.gif) center center no-repeat;
	}

	#pager div.first.disabled{
		background:url(firsPT.gif) center center no-repeat;
	}

	#pager div.prev{
		background:url(prevP.gif) center center no-repeat;
	}

	#pager div.prev.disabled{
		background:url(prevPT.gif) center center no-repeat;
	}

	#pager div.last{
		background:url(lastP.gif) center center no-repeat;
	}

	#pager div.last.disabled{
		background:url(lastPT.gif) center center no-repeat;
	}

	#pager div.next{
		background:url(nextP.gif) center center no-repeat;
	}

	#pager div.next.disabled{
		background:url(nextPT.gif) center center no-repeat;
	}



	#pager div.selected{
		background:#104E8B;
		color:#FFF;
	}

  #ui-id-1 {
    font-size: 11px;
  }

  #ui-id-1 li {
    margin: 1px 0;
  }

  #ui-id-1 li:nth-child(odd) {
    background-color: #F4F5F5;
    border-radius: 4px;
  }
